.mt3 {
    margin-top: 24px;
}

.fullWidthButton {
    width: 100%;
    padding: 0;
    text-transform: none;
    cursor: pointer;
}

.relativeContainer {
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: 16px;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.viewerCount {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon {
    font-size: 16px;
    color: white;
}

.whiteText {
    color: white;
}

.badgeContainer {
    position: absolute;
    top: 8px;
    right: 24px;
}

.avatarInfoContainer {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.avatar {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.avatarDetails {
    display: inline-block;
    vertical-align: top;
}